---
http_interactions:
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-22T14:05:21.509+03:00'
      X-Wix-Signature:
      - MctV4i25Ne9Cwr8q8iSnu_IuhXZTJd5fphLVkO0242g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik01.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"0340edf9-7619-4c40-ba31-2010ba5f6099","createdAt":"2014-08-10T06:57:46.317-05:00","activityType":"auth/login","activityLocationUrl":"http://alext89.wix.com/pblog","activityInfo":{"initiator":"","previousActivityStreamId":"13890e14-6b34-65cf-1f53-7c32cec0cb44"}},{"id":"13890e14-6b34-65cf-1f53-7c32cec0cb44","createdAt":"2014-08-10T06:57:19.390-05:00","activityType":"auth/register","activityLocationUrl":"http://alext89.wix.com/pblog","activityInfo":{"initiator":"","previousActivityStreamId":"b3452d26-f039-46fc-bc79-f0581371a0bd","status":"ACTIVE"}},{"id":"13890dfa-6b47-2dc9-e93a-65a968838d1f","createdAt":"2014-08-10T06:55:27.723-05:00","activityType":"auth/register","activityLocationUrl":"http://alext89.wix.com/pblog","activityInfo":{"initiator":"","previousActivityStreamId":"fd78ac75-f2e0-4c38-8cde-a6398bd0ab67","status":"ACTIVE"}}],"pageSize":3}'
  recorded_at: Fri, 22 Aug 2014 11:05:23 GMT
recorded_with: VCR 2.9.2
