---
http_interactions:
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities/749b35b4-d269-4876-8452-448dcb6054e8?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-27T10:46:49.171+03:00'
      X-Wix-Signature:
      - CIdhItga69lNxWjTw-T5DXzv76-a8bOf1eGAYiUwShg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik1.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"749b35b4-d269-4876-8452-448dcb6054e8","createdAt":"2014-08-27T02:46:48.107-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}}'
  recorded_at: Wed, 27 Aug 2014 07:46:50 GMT
[...]
- request:
    method: post
    uri: https://openapi.wix.com/v1/activities?userSessionToken=02594992c9c57f61148351a766cf2ab79f7a7007ce309a16fc2b6475b0895b5b09250b55ec2c4cdba152aef47daded4d1e60994d53964e647acf431e4f798bcd0b93ce826ad6aa27a9c95ffedb05f421b7b1419780cf6036d4fd8efd847f9877&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"createdAt":"2014-09-02T11:13:51.647+03:00","activityDetails":{"summary":"test","additionalInfoUrl":"http://www.wix.com"},"activityType":"music/album-fan","activityInfo":{"album":{"name":"Wix","id":"1234"}},"activityLocationUrl":"http://www.wix.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:13:52.660+03:00'
      X-Wix-Signature:
      - 0YCpSxwGknt1TtMtV8qGXM33t5Tt6vW0gjNOII3O-sY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik3.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"activityId":"aed83e0c-b930-4489-a6fd-ccc2ef97f2a6","contactId":"13358cb2-5d98-4b45-1884-fd2e608e2dc0"}'
  recorded_at: Tue, 02 Sep 2014 08:13:53 GMT
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities/aed83e0c-b930-4489-a6fd-ccc2ef97f2a6?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:13:53.469+03:00'
      X-Wix-Signature:
      - 9qhVzLKMR0aG6POU6tu3ZGyk_O_do0DDXT5GL8XSBis
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik4.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"aed83e0c-b930-4489-a6fd-ccc2ef97f2a6","createdAt":"2014-09-02T03:13:51.647-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}}'
  recorded_at: Tue, 02 Sep 2014 08:13:54 GMT
recorded_with: VCR 2.9.2
