---
http_interactions:
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-27T11:00:34.019+03:00'
      X-Wix-Signature:
      - "-2ThhqzkFYnOam1y8bSxPvs_oUpNwtpEjwaL0P-9cIA"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik4.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"594197ed-8bf7-4fff-a521-fa049c772308","createdAt":"2014-08-27T03:00:31.119-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"ae22d71a-530a-48a9-955c-875721c3bea4","createdAt":"2014-08-27T03:00:31.119-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"0471c010-5d25-4728-b30f-f9d3ed886f44","createdAt":"2014-08-27T02:59:41.776-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetail[...]
