---
http_interactions:
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities?from=2014-08-27T09:10:43.269%2B03:00&until=2014-08-27T09:10:43.269%2B03:00&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-27T09:10:43.269+03:00'
      X-Wix-Signature:
      - "-SJC4r-iVO6q7Y0kZGRtY9VEE348jztGp976CVm-sGg"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik1.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[],"pageSize":0}'
  recorded_at: Wed, 27 Aug 2014 06:10:44 GMT
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities?from=2014-08-26T09:10:44.250%2B03:00&until=2014-08-27T09:10:44.250%2B03:00&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-27T09:10:44.251+03:00'
      X-Wix-Signature:
      - NMiNoDBHaN4uLBoPxSxYnPdfUQjjKc_WJJNxI6sp5YI
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik4.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"5206b900-8f6c-4bcf-bfe6-90349ead68ad","createdAt":"2014-08-26T08:13:31.894-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"64272644-ba2f-4ce1-80dc-8af0a9917add","createdAt":"2014-08-26T05:42:57.272-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"8f60c760-b28b-4217-9f51-767c177a1e92","createdAt":"2014-08-26T05:42:21.260-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetail[...]
