---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/activities?userSessionToken=02594992c9c57f61148351a766cf2ab79f7a7007ce309a16fc2b6475b0895b5b09250b55ec2c4cdba152aef47daded4d1e60994d53964e647acf431e4f798bcd0b93ce826ad6aa27a9c95ffedb05f421b7b1419780cf6036d4fd8efd847f9877&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"createdAt":"2014-09-02T11:13:51.647+03:00","activityDetails":{"summary":"test","additionalInfoUrl":"http://www.wix.com"},"activityType":"hotels/confirmation","activityInfo":{"rates":[],"customer":{},"rooms":[]},"activityLocationUrl":"http://www.wix.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:14:09.015+03:00'
      X-Wix-Signature:
      - BrPjNpWMXPV9lbKJVwI0UAv_SZQQSU4lW00dmuNZHPQ
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Seen-By:
      - sputnik3.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":400,"message":"activity request failed validation check
        with errors: [source is a null, guests is a null, stay is a null, invoice
        is a null]","wixErrorCode":-23012}'
  recorded_at: Tue, 02 Sep 2014 08:14:09 GMT
recorded_with: VCR 2.9.2
