---
http_interactions:
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities?scope=app&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:13:56.642+03:00'
      X-Wix-Signature:
      - Z4YSfVadh50CPfZrPMrns1bh3M1CFb7EKterMaK4KvY
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik2.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"27592a54-453c-4e82-a330-6acdb923e92e","createdAt":"2014-09-02T03:13:51.647-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"aed83e0c-b930-4489-a6fd-ccc2ef97f2a6","createdAt":"2014-09-02T03:13:51.647-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"8573a79d-7d05-4536-b9e5-1b8007de649f","createdAt":"2014-09-02T02:55:23.596-05:00","activityType":"e_commerce/purchase","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"items":[],"payment":{"coupon":{"total":"1","title":"Dis"},"total":"1","subtotal":"1","currency":"EUR"},"cartId":"11111","storeId":"11111"}},{"id":"2192b2f0-35d0-4b7e-aefc-6591f2ad9d54","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"e_commerce/purchase","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"items":[],"payment":{"total":"1","subtotal":"1","currency":"EUR"},"cartId":"11111","storeId":"11111"}},{"id":"325ad5d4-d3ed-4917-aa50-723aa1ce1cca","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"4c7f5c25-9cb7-4b7b-977e-2a1ecb7af0db","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"conversion/complete","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"metadata":[],"conversionType":"PAGEVIEW"}},{"id":"6e4b7cf6-b004-431a-a527-26a025898dc4","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"8e06297a-9a17-447a-b56c-8de9274b6faf","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"9ad64a23-f527-42ef-8dcb-cb3242468eae","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"contacts/create","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"name":{"first":"E2E
        Activity","last":"Activity"},"emails":[{"email":"activity@example.com","tag":"work"}],"phones":[],"addresses":[],"dates":[],"urls":[]}},{"id":"bd5459ac-f31a-46bc-b24d-cd3044a85b76","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"d1f81f01-666e-4f3b-be1a-685ae483cf5e","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalI[...]
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities?scope=site&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:13:57.768+03:00'
      X-Wix-Signature:
      - JyIuP-xsxN_85bSR9vcb65LdCbsiU3wN7uCKR3pN3Ug
  response:
    status:
      code: 200
      message: [...]
