---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/activities?userSessionToken=02594992c9c57f61148351a766cf2ab79f7a7007ce309a16fc2b6475b0895b5b09250b55ec2c4cdba152aef47daded4d1e60994d53964e647acf431e4f798bcd0b93ce826ad6aa27a9c95ffedb05f421b7b1419780cf6036d4fd8efd847f9877&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"createdAt":"2014-09-02T11:13:51.647+03:00","activityDetails":{"summary":"test","additionalInfoUrl":"http://www.wix.com"},"activityType":"contacts/create","activityInfo":{"name":{"first":"E2E
        Activity","last":"Activity"},"emails":[{"email":"activity@example.com","tag":"work"}],"phones":[],"addresses":[],"dates":[],"urls":[]},"activityLocationUrl":"http://www.wix.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:14:00.815+03:00'
      X-Wix-Signature:
      - mBBFxYinFIyg7rGTtu7hwlnY0azn5fM8qW7T-piNiU8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik4.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"activityId":"36c4767f-2e8d-4d32-af41-c7f058f22b27","contactId":"13358cb2-5d98-4b45-1884-fd2e608e2dc0"}'
  recorded_at: Tue, 02 Sep 2014 08:14:01 GMT
recorded_with: VCR 2.9.2
