---
http_interactions:
- request:
    method: get
    uri: https://openapi.wix.com/v1/activities?activityTypes=music/album-fan&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:13:55.529+03:00'
      X-Wix-Signature:
      - fTs76pYFPOcTBtjMYS_T7QKLSspxMppHOpdcE4iubU4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik1.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"27592a54-453c-4e82-a330-6acdb923e92e","createdAt":"2014-09-02T03:13:51.647-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"aed83e0c-b930-4489-a6fd-ccc2ef97f2a6","createdAt":"2014-09-02T03:13:51.647-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}},{"id":"325ad5d4-d3ed-4917-aa50-723aa1ce1cca","createdAt":"2014-09-02T02:49:41.627-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetail[...]
