---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"Wix","last":"Cool"},"company":{"name":"Company","role":"CEO"},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[{"phone":"123456789","tag":"work"}],"addresses":[{"tag":"home","address":"28208
        N Inca St.","neighborhood":"LODO","city":"Denver","region":"CO","country":"US","postalCode":"80202"}],"urls":[],"dates":[{"date":"2014-08-19T16:20:44.320+03:00","tag":"E2E"}],"picture":"http://wix.com/img1.jpg"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-19T16:20:44.321+03:00'
      X-Wix-Signature:
      - u99D0Zc9YcRJ1Ntz0iUR1qKBfFwp91Yd5PRJkCjSSp0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik02.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"0d572003-3579-46b1-b03c-b4bde300bca6"}'
  recorded_at: Tue, 19 Aug 2014 13:20:45 GMT
recorded_with: VCR 2.9.2
