---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/c9ddec92-d361-41d7-ab04-492612cf4495/tags?modifiedAt=1408454207&version=1.0.0
    body:
      encoding: UTF-8
      string: '["crazy/tag","lalala/tag"]'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-19T16:16:47.860+03:00'
      X-Wix-Signature:
      - g0eJBys8WY_yMfSo2cAQ7dpQybreirLBGDQ03M_aklw
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Seen-By:
      - sputnik01.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":404,"message":"Unknown service method at [/v1/contacts/c9ddec92-d361-41d7-ab04-492612cf4495/tags]","wixErrorCode":-23007}'
  recorded_at: Tue, 19 Aug 2014 13:16:48 GMT
[...]
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"Wix","last":"Cool"},"company":{},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[{"phone":"123456789","tag":"work"}],"addresses":[],"urls":[],"dates":[]}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-20T17:18:44.900+03:00'
      X-Wix-Signature:
      - icunHm-tKIzfITnZvE55LkCxO3k3Y8FiEzZBvbJGe0M
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik01.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"b1fdecfc-d139-4fa6-bd55-6251d210204a"}'
  recorded_at: Wed, 20 Aug 2014 14:18:45 GMT
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/b1fdecfc-d139-4fa6-bd55-6251d210204a/tags?modifiedAt=1408544325&version=1.0.0
    body:
      encoding: UTF-8
      string: '["crazy/tag","lalala/tag"]'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-20T17:18:45.971+03:00'
      X-Wix-Signature:
      - vrOocbPbyqQXOsg8rgv7rohz4gMfMqAU6cicW4vWQu8
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Seen-By:
      - sputnik02.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":404,"message":"Unknown service method at [/v1/contacts/b1fdecfc-d139-4fa6-bd55-6251d210204a/tags]","wixErrorCode":-23007}'
  recorded_at: Wed, 20 Aug 2014 14:18:46 GMT
recorded_with: VCR 2.9.2
