---
http_interactions:
- request:
    method: get
    uri: https://openapi.wix.com/v1/contacts/c9ddec92-d361-41d7-ab04-492612cf4495?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-19T16:16:30.977+03:00'
      X-Wix-Signature:
      - D1TMECc6e8ibVlNCEgvhBN46wFE8KqPHbxizUqBWqi8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik01.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"c9ddec92-d361-41d7-ab04-492612cf4495","name":{"prefix":"","first":"New_Name","middle":"","last":"","suffix":""},"picture":"wix.com","tags":["contacts/create","contacts_server/new","contacts_server/show"],"company":{"name":"New_Company","role":""},"notes":[{"modificationDate":"2014-08-19T07:59:02.667-05:00","content":"Note","id":1},{"modificationDate":"2014-08-19T08:14:43.329-05:00","content":"Note","id":2}],"emails":[{"tag":"work","email":"alext@wix.com","siteOwnerSubscriptionStatus":"notSet","contactSubscriptionStatus":"notSet","emailStatus":"transactional","id":1}],"phones":[{"tag":"work","phone":"18006666","id":1},{"tag":"work_new","phone":"18006666","id":2},{"tag":"work_new","phone":"18006666","id":3}],"addresses":[{"tag":"work","address":"1625
        Larimer St.","id":1},{"tag":"work","address":"1625 Larimer St.","id":2},{"tag":"work","address":"1625
        Larimer St.","id":3}],"dates":[{"tag":"update","date":"2014-08-19T08:14:34.861-05:00","id":1}],"urls":[],"custom":[{"field":"custom_update","value":"custom_value","id":1},{"field":"custom_update","value":"custom_value","id":2}],"createdAt":"2014-08-19T07:56:38.875-05:00","links":[{"rel":"unsubscribe","href":"http://www.wix.com/create/my-account/contacts/unsubscribe?siteName=pblog&metaSiteId=d5569db1-7fea-4516-b5b4-691b294d7a04&unsubscribeToken=abcefd4d5885911e7f4ea863ecce180388e169a39e4c714f1a99cb3376c2b706ab5412e712d3ac8284abf7de3d9e876b4d25b2b8b3160fa2f2130de2a4b620339a7d61d9697189635066eee0a13418d4445fe65559299dd1ed48d4aea7087f269f5630423114e0f1a275ca67dce28759a9c7978a11f21054f373ab1f388d728766485cf5b213574feb709711b280bea45d1dead95cfdba954cdfce9f2a92b88150edb7095e41505902d9f1af8879a3cc8fe6f053c055aad20f3f04948beb08edb51ae8c727c67d10eb1e92a91faa1fa4726b79fe8c92490f0d76ec5fd74f9d7783fe01ae4e57a21e7c479338440ccb80859ce0a8f839745d7ab4731fc2a72166decd088212ea6c71a15be4c5be3918d733df0365e6c25efdf459220de3817c72f0bfd9c19fbc1d7efd2c1c572988f9608e2ed797cd61486e6b72ecec10a1e91bf2e8adf344ce4db7ea6aba6fc0944545bc641a939486a42be6ed799577823c3879f9877c4c78d6276c72d25b02fc8732","id":1}]}'
  recorded_at: Tue, 19 Aug 2014 13:16:31 GMT
- request:
    method: put
    uri: https://openapi.wix.com/v1/contacts/c9ddec92-d361-41d7-ab04-492612cf4495/email/1?modifiedAt=1408454191&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"tag":"work","email":"alex@example.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-19T16:16:31.897+03:00'
      X-Wix-Signature:
      - JWmSGVevJwdYbpC5oEOull-oParRXIO9OBlm9vu9w94
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Seen-By:
      - sputnik03.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":500,"message":"null","wixErrorCode":-100}'
  recorded_at: Tue, 19 Aug 2014 13:16:34 GMT
[...]
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"Wix","last":"Cool"},"company":{},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[{"phone":"123456789","tag":"work"}],"addresses":[],"urls":[],"dates":[]}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-20T17:18:20.621+03:00'
      X-Wix-Signature:
      - "-ce4RoS6ddhc8RzSprL13FIA6EuF0T8lcuRfyHWI8Dg"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik01.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"22b98d4e-203f-44f3-802f-488712f1a9dc"}'
  recorded_at: Wed, 20 Aug 2014 14:18:21 GMT
[...]
- request:
    method: put
    uri: https://openapi.wix.com/v1/contacts/22b98d4e-203f-44f3-802f-488712f1a9dc/email/1?modifiedAt=1408544302&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"tag":"work","email":"alex@example.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-20T17:18:22.728+03:00'
      X-Wix-Signature:
      - ghNzUa_htcyCQJRHt-JkxmOebB_6yDXkLCNa-ZOXiSs
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Seen-By:
      - sputnik03.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":500,"message":"null","wixErrorCode":-100}'
  recorded_at: Wed, 20 Aug 2014 14:18:23 GMT
recorded_with: VCR 2.9.2
