---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"E2E","last":"Cool"},"company":{"name":"Wix","role":"CEO"},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[{"phone":"123456789","tag":"work"}],"addresses":[{"tag":"home","address":"28208
        N Inca St.","neighborhood":"LODO","city":"Denver","region":"CO","country":"US","postalCode":"80202"}],"urls":[{"url":"wix.com","tag":"site"}],"dates":[{"date":"2014-08-22T11:19:54.089+03:00","tag":"E2E"}]}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-22T11:19:54.089+03:00'
      X-Wix-Signature:
      - Ybm-bWI5bFcEf9GBMzGwN7hvwQOEH8_IvD3OdQ_J5Bg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik02.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"b581f6e8-6b11-4a0f-8438-df4f4550ea7c"}'
  recorded_at: Fri, 22 Aug 2014 08:19:55 GMT
recorded_with: VCR 2.9.2
