---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/1cb69fc2-5c92-47c9-a5d4-9ae95b887019/activities?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"createdAt":"2014-08-27T10:33:22.425+03:00","activityDetails":{"summary":"test","additionalInfoUrl":"http://www.wix.com"},"activityType":"music/album-fan","activityInfo":{"album":{"name":"Wix","id":"1234"}},"activityLocationUrl":"http://www.wix.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-27T10:33:24.585+03:00'
      X-Wix-Signature:
      - L35JL2wSWNoRuySJwmtPBlKdT_Fj15kmC_ibfQsXYuk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik2.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"activityId":"889095d3-c740-43ef-837b-f5a9f0068c61","contactId":"1cb69fc2-5c92-47c9-a5d4-9ae95b887019"}'
  recorded_at: Wed, 27 Aug 2014 07:33:26 GMT
- request:
    method: get
    uri: https://openapi.wix.com/v1/contacts/1cb69fc2-5c92-47c9-a5d4-9ae95b887019/activities?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-27T10:33:26.140+03:00'
      X-Wix-Signature:
      - zeP38EEiTUyRVrmsHbznIB7lnwrqRFzX7t6qOhfPvlM
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik3.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"889095d3-c740-43ef-837b-f5a9f0068c61","createdAt":"2014-08-27T02:33:22.425-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}}],"pageSize":1}'
  recorded_at: Wed, 27 Aug 2014 07:33:27 GMT
[...]
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"Wix","last":"Cool"},"company":{},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[{"phone":"123456789","tag":"work"}],"addresses":[],"urls":[],"dates":[]}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:14:53.166+03:00'
      X-Wix-Signature:
      - Z3ngZBkxdZMzPT2wbycaNlniOyvvvP_7oGCjdhLGNhs
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik2.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"937595b6-662c-4488-a7c3-8526ca18e7c9"}'
  recorded_at: Tue, 02 Sep 2014 08:14:54 GMT
[...]
- request:
    method: get
    uri: https://openapi.wix.com/v1/contacts/937595b6-662c-4488-a7c3-8526ca18e7c9/activities?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:14:55.142+03:00'
      X-Wix-Signature:
      - hcOMKSpHUgRrmBIro-BIoVyvPKWk3Kb4L3JLvgUCc6M
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik1.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ed64f241-2e81-4c6b-8463-9235423b94dd","createdAt":"2014-09-02T03:13:51.647-05:00","activityType":"music/album-fan","activityLocationUrl":"http://www.wix.com/","activityDetails":{"additionalInfoUrl":"http://www.wix.com/","summary":"test"},"activityInfo":{"album":{"name":"Wix","id":"1234"}}}],"pageSize":1}'
  recorded_at: Tue, 02 Sep 2014 08:14:56 GMT
recorded_with: VCR 2.9.2
