---
http_interactions:
- request:
    method: put
    uri: https://openapi.wix.com/v1/contacts/c9ddec92-d361-41d7-ab04-492612cf4495?modifiedAt=1408454183&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{},"company":{},"emails":[{"email":"wow@wix.com","tag":"wow"}],"phones":[],"addresses":[{"tag":"home2","address":"1625
        Larimer","neighborhood":"LODO","city":"Denver","region":"CO","country":"US","postalCode":"80202"}],"urls":[{"url":"wix.com","tag":"site2"}],"dates":[{"date":"2014-08-19T16:16:23.531+03:00","tag":"E2E
        UPDATE"}],"id":"c9ddec92-d361-41d7-ab04-492612cf4495"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-19T16:16:23.532+03:00'
      X-Wix-Signature:
      - 2YuUcWiR-6oeijnXhhkujmIcmhw1QzKdVfNg_Ad-UfU
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Seen-By:
      - sputnik03.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":404,"message":"Unknown service method at [/v1/contacts/c9ddec92-d361-41d7-ab04-492612cf4495]","wixErrorCode":-23007}'
  recorded_at: Tue, 19 Aug 2014 13:16:24 GMT
[...]
- request:
    method: put
    uri: https://openapi.wix.com/v1/contacts/211203da-3020-4072-b9f3-0abc32461291?modifiedAt=1408454694&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"E2E","last":"Cool"},"company":{},"emails":[{"email":"alext@wix.com","tag":"work"},{"email":"wow@wix.com","tag":"wow"}],"phones":[],"addresses":[{"tag":"home","address":"28208
        N Inca St.","neighborhood":"LODO","city":"Denver","region":"CO","country":"US","postalCode":"80202"},{"tag":"home2","address":"1625
        Larimer","neighborhood":"LODO","city":"Denver","region":"CO","country":"US","postalCode":"80202"}],"urls":[{"url":"wix.com","tag":"site"},{"url":"wix.com","tag":"site2"}],"dates":[{"date":"2014-08-19T16:24:53.467+03:00","tag":"E2E"},{"date":"2014-08-19T16:24:54.422+03:00","tag":"E2E
        UPDATE"}],"id":"211203da-3020-4072-b9f3-0abc32461291"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-19T16:24:54.422+03:00'
      X-Wix-Signature:
      - TMXBk5ZDwz9BC9tRmH2RYUEx366-68ZydeR4b87vx2Q
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Seen-By:
      - sputnik02.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":404,"message":"Unknown service method at [/v1/contacts/211203da-3020-4072-b9f3-0abc32461291]","wixErrorCode":-23007}'
  recorded_at: Tue, 19 Aug 2014 13:24:55 GMT
[...]
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"E2E","last":"Cool"},"company":{},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[],"addresses":[{"tag":"home","address":"28208
        N Inca St.","neighborhood":"LODO","city":"Denver","region":"CO","country":"US","postalCode":"80202"}],"urls":[{"url":"wix.com","tag":"site"}],"dates":[{"date":"2014-09-02T11:14:15.827+03:00","tag":"E2E"}]}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:14:15.827+03:00'
      X-Wix-Signature:
      - lAhSQG98hIsWsTpBlr9mzqS7ws1gr_dV_X_jyasXGSQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik2.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"62087ae4-bb8e-4105-a17b-f6bd8167dea8"}'
  recorded_at: Tue, 02 Sep 2014 08:14:16 GMT
[...]
