---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/c9ddec92-d361-41d7-ab04-492612cf4495/email?modifiedAt=1408454204&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"tag":"work_new","email":"alex_new@example.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-19T16:16:44.140+03:00'
      X-Wix-Signature:
      - fRwZOoIFmqWAOKFffYN4LacnPOjJ5uxgEWeHXZ6p8_s
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Seen-By:
      - sputnik03.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":500,"message":"null","wixErrorCode":-100}'
  recorded_at: Tue, 19 Aug 2014 13:16:45 GMT
[...]
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"Wix","last":"Cool"},"company":{},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[{"phone":"123456789","tag":"work"}],"addresses":[],"urls":[],"dates":[]}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-22T10:40:40.698+03:00'
      X-Wix-Signature:
      - mL5A7wR3a4_jEXkho3CIoWr6oToVO6ShnQHidTlqLVU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik03.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"95eaad98-9e8d-4364-802e-2cc79adabb46"}'
  recorded_at: Fri, 22 Aug 2014 07:40:42 GMT
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/95eaad98-9e8d-4364-802e-2cc79adabb46/email?modifiedAt=1408693242&version=1.0.0
    body:
      encoding: UTF-8
      string: '{"tag":"work_new","email":"alex_new@example.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-22T10:40:42.187+03:00'
      X-Wix-Signature:
      - WFvzY8P_u4pyQSdPkQ6DneKwklHCNHEB3e9EHqoHmXI
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Seen-By:
      - sputnik02.tam_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":500,"message":"null","wixErrorCode":-100}'
  recorded_at: Fri, 22 Aug 2014 07:40:43 GMT
recorded_with: VCR 2.9.2
