---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/3826a5d7-32f8-493a-9b1e-dd77c52be3c9/activities?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"created_at":"2014-08-26T13:34:41.209+03:00","details":{"summary":"test","additionalInfoUrl":"http://www.wix.com"},"type":"music/album-fan","info":{"album":{"name":"Wix","id":"1234"}},"location_url":"http://www.wix.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-26T13:34:41.425+03:00'
      X-Wix-Signature:
      - dv27icvFR_1h83jA3f6j5UkFR63mSZjTtkRDUaa-948
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Seen-By:
      - sputnik1.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errorCode":400,"message":"Invalid content or bad data.","wixErrorCode":-23011}'
  recorded_at: Tue, 26 Aug 2014 10:34:42 GMT
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/cd889627-db30-4fc7-b01a-5c48bae7d56b/activities?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"createdAt":"2014-08-26T13:42:21.260+03:00","activityDetails":{"summary":"test","additionalInfoUrl":"http://www.wix.com"},"activityType":"music/album-fan","activityInfo":{"album":{"name":"Wix","id":"1234"}},"activityLocationUrl":"http://www.wix.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-26T13:42:22.386+03:00'
      X-Wix-Signature:
      - WbtIVJVKJAYus-TWEO1mjGor0GhKLkYKEHtfTrRIzsY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik1.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"activityId":"8f60c760-b28b-4217-9f51-767c177a1e92","contactId":"cd889627-db30-4fc7-b01a-5c48bae7d56b"}'
  recorded_at: Tue, 26 Aug 2014 10:42:23 GMT
[...]
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"Wix","last":"Cool"},"company":{},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[{"phone":"123456789","tag":"work"}],"addresses":[],"urls":[],"dates":[]}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:14:51.196+03:00'
      X-Wix-Signature:
      - YP1K42PZGKbQrSx337s5KNHLh7dRlk0FBGx805YK2Gs
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik1.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"b9f953de-7423-4d94-a23b-2581f9bc1e07"}'
  recorded_at: Tue, 02 Sep 2014 08:14:52 GMT
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/b9f953de-7423-4d94-a23b-2581f9bc1e07/activities?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"createdAt":"2014-09-02T11:13:51.647+03:00","activityDetails":{"summary":"test","additionalInfoUrl":"http://www.wix.com"},"activityType":"music/album-fan","activityInfo":{"album":{"name":"Wix","id":"1234"}},"activityLocationUrl":"http://www.wix.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:14:52.111+03:00'
      X-Wix-Signature:
      - Lf3pN0cbrg1L4pYmpzfEA0iTXVDoeytqwiUzYSxXbMQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik2.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"activityId":"c49d808f-e0e9-4069-b5ab-da911a61d29d","contactId":"b9f953de-7423-4d94-a23b-2581f9bc1e07"}'
  recorded_at: Tue, 02 Sep 2014 08:14:53 GMT
recorded_with: VCR 2.9.2
