---
http_interactions:
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts/3e293258-67be-4039-b08e-5ab47c0a5542/activities?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"createdAt":"2014-08-27T15:09:03.716+03:00","activityDetails":{"summary":"test","additionalInfoUrl":"http://www.wix.com"},"activityType":"music/album-fan","activityInfo":{"album":{"name":"Wix","id":"1234"}},"activityLocationUrl":"http://www.wix.com"}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-27T15:09:07.166+03:00'
      X-Wix-Signature:
      - vq_TWvY9o10dOMo5eXqzgiWKpalLBxe2vckI1-nNEV4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik2.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"activityId":"c52ac606-1a0e-4c4d-82a0-7dc871283af7","contactId":"3e293258-67be-4039-b08e-5ab47c0a5542"}'
  recorded_at: Wed, 27 Aug 2014 12:09:08 GMT
- request:
    method: get
    uri: https://openapi.wix.com/v1/insights/contacts/3e293258-67be-4039-b08e-5ab47c0a5542/activities/summary?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-08-27T15:09:08.186+03:00'
      X-Wix-Signature:
      - MUe9ffe2MyJwaBES19OcAav4-GJh3vsR0gMPcvUQxeg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik2.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"activityTypes":[],"total":0}'
  recorded_at: Wed, 27 Aug 2014 12:09:09 GMT
[...]
- request:
    method: post
    uri: https://openapi.wix.com/v1/contacts?version=1.0.0
    body:
      encoding: UTF-8
      string: '{"name":{"first":"Wix","last":"Cool"},"company":{},"emails":[{"email":"alext@wix.com","tag":"work"}],"phones":[{"phone":"123456789","tag":"work"}],"addresses":[],"urls":[],"dates":[]}'
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:15:13.975+03:00'
      X-Wix-Signature:
      - cGka4gAECPK6QECjcUNKoySjP09vfQ_cUu4NSPXxpuQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik1.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"contactId":"285b5008-ea9d-4a17-b8b2-7b9c582ed4a6"}'
  recorded_at: Tue, 02 Sep 2014 08:15:15 GMT
[...]
- request:
    method: get
    uri: https://openapi.wix.com/v1/insights/contacts/285b5008-ea9d-4a17-b8b2-7b9c582ed4a6/activities/summary?version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Wix-Instance-Id:
      - 138328bd-0cde-04e3-d7be-8f5500e362e7
      X-Wix-Application-Id:
      - 13832826-96d2-70f0-7eb7-8e107a37f1d2
      X-Wix-Timestamp:
      - '2014-09-02T11:15:16.063+03:00'
      X-Wix-Signature:
      - 4SDI8dNAJHFLwFwhkCxh-oFSj9J5Zpw61UgTbvLEeRw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Seen-By:
      - sputnik2.aus_dsp
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"activityTypes":[],"total":0}'
  recorded_at: Tue, 02 Sep 2014 08:15:17 GMT
recorded_with: VCR 2.9.2
